
<div class='container'>
	
	<div class='main'>
		<h2>Password Reset</h2>
		<p>Enter your email address and we would send you a link to reset your password </p>

		<form #resetForm='ngForm' (ngSubmit)='submit()'>
			<input type="email" name="email" [(ngModel)]='user.email' #email="ngModel" ngModel email="true" placeholder='Email Address' required>

			<p *ngIf='email.dirty && email.invalid' style='color:red; font-size:0.9em; margin-left:2px;'>Enter a valid email address</p>

			<button type="submit" [disabled]="!resetForm.form.valid || btndisabled">
				<div *ngIf='!loading'>Send</div>
				<div *ngIf='loading' class='loader'></div>
			</button>
		</form>

		<div class='links'>
			<a routerLink='/signup'>Create Account</a>
			<a routerLink='/login'>Login</a>
		</div>

	</div>
</div>