@import url('https://fonts.googleapis.com/css?family=Raleway');

a
{
	color:#000;
	text-decoration:none;
	display:flex;
	margin-bottom:20px;
}


img
{
	width:38px;
	height:38px;
	border-radius:50%;
	object-fit:cover;
	margin-right:10px;
}

div
{
	font-family:'Raleway', sans-serif;
	font-size:0.95em;
}

p
{
	margin:0;
	margin:2px 0 3px 0;
}


@media(max-width:768px)
{
	a
	{
		flex-flow:column;
		align-items: center;
		width:80px;
		margin-right:25px;
	}

	img
	{
		width:100%;
		height:80px;
		border-radius:3px;
		margin:0;
	}

	div
	{
		text-align:center;
		font-size:0.8em;
		color:rgba(0,0,0,0.8);
	}
}