
<p class='title' [hidden]='showSearch' #title>
	<a routerLink='/subscriptions' (click)='emitHomeEvent()'>TrackTv</a>
</p>


<div *ngIf='!mediumScreen && !smallScreen' #search class='search'>
	<input type="text" name="" placeholder='Find your favourite Tv Series' (input)='searchTvSeries($event.target.value)' #inputlarge> 
	<i class='fa fa-search'></i>
	<img [src]="imgsrc" (click)='toggleOptions()'>

	<button *ngIf='checkInputLength()' (click)='clearSearch()'>clear</button>

	<ul class='searchResults' #searchContainer>
		<li *ngFor='let tv of searchResults'>
			<a routerLink='/show/{{tv.id}}/{{ getSlug(tv.name) }}' (click)='emitTvShow(tv.id)'>
				<img src="http://image.tmdb.org/t/p/w1280{{ tv.poster_path }}">
				<div>
					<p>{{ tv.name }}</p>
					<span><i class='fa fa-star'></i> {{ tv.vote_average }}/10</span>
				</div>
			</a>
		</li>
	</ul>

	<ul class='options' *ngIf='showOptions'>
		<li (click)='emitImageUpload()'><img src="https://img.icons8.com/cotton/32/000000/gender-neutral-user.png" width='18px' height='1px'> Change display picture</li>
		<li (click)='logout()'><i class='fa fa-sign-out'></i>  Logout <div class='loader' *ngIf='load_logout'></div> </li>
	</ul>

</div>


<div *ngIf='mediumScreen && !showSearch' class='medium-nav'> 
	<div (click)='toggleSearch()'>
		<img src="../../assets/Header/search.png" (click)='toggleSearch()'>
		<p>Search</p> 
	</div>
 	
	<div (click)='emitSideBarEvent()'>
		<img [src]="imgsrc">
		<p>{{ name |slice:0:13 }}<i class='fa fa-caret-down'></i> </p>
	</div>
</div>

<div *ngIf='smallScreen && !showSearch' class='small-nav'>
	<img src="../../assets/Header/search.png" (click)='toggleSearch()'>

	<div class='navtoggle' (click)='emitSideBarEvent("navtoggle")'>
		<span [class.active]='active_on_small_screen'></span>
	</div>
</div>
 
<div class='search-container' *ngIf='showSearch'>
	<input type="text" name="" placeholder='Find your favourite Tv Series' (input)='searchTvSeries($event.target.value)' #inputsmall>

	<button *ngIf='checkInputLength()' (click)='clearSearch()'>clear</button>

	<i class='fa fa-search'></i>
	<i class='fa fa-angle-left' (click)='toggleSearch()'></i>

	<ul class='searchResults' #searchContainer>
		<li *ngFor='let tv of searchResults'>
			<a routerLink='show/{{tv.id}}/{{ getSlug(tv.name) }}'>
				<img src="http://image.tmdb.org/t/p/w1280{{ tv.poster_path }}">
				<div>
					<p>{{ tv.name }}</p>
					<span>{{ tv.vote_average }}/10</span>
				</div>
			</a>
		</li>
	</ul>
</div>


