
<div class='no-subscriptions' *ngIf='!hasSubscriptions && !load'>
	
	<i class='em em-anguished'></i>
	<p>You do not have any subscriptions</p>
</div>


<div *ngFor='let show of TvShows'>
	<app-tv-show [TvShow]="show" [subscription]='true' (viewInfo)='viewInfo($event)' (unsubscribe)='triggerUnSubscribeDialog($event)'></app-tv-show>
</div>

<app-view-subscribed-info *ngIf='displayViewInfo' [details]='currentlyViewedInfo' (close)='closeInfoDialog()'></app-view-subscribed-info>

<app-un-subscribe *ngIf='displayUnsubscribeDialog' [details]='details' (close)='closeDialog()' (unsubscribe)='unsubscribe($event)'></app-un-subscribe>

 
<div class='loader' *ngIf='load'>
	
</div> 