
<div class='container'>
	
	<div class='main'>
		<h2>Change Password</h2>
		<p>Hey {{ name }}, enter your new Password and hit change to reset it </p>

		<form #changeForm='ngForm' (ngSubmit)='changePassword()'>
			
			<input type="password" name="password"  [(ngModel)]='user.password' placeholder='Password' #passwordinput required>

			<i class='far fa-eye toggle' *ngIf='checkPasswordLength()' #eye (click)="toggleShowPassword()"></i>

			<button type='submit' [disabled]='!changeForm.form.valid || disabled'>
				<div *ngIf='!loading'>Change</div>
				<div *ngIf='loading' class='loader'></div>
			</button>
		</form>

		<div class='links'>
			<a routerLink='/signup'>Create Account</a>
			<a routerLink='/login'>Login</a>
		</div>
	</div>
</div>