 @import url('https://fonts.googleapis.com/css?family=Hind+Siliguri');
 @import url('https://fonts.googleapis.com/css?family=Quicksand');
 @import url('https://fonts.googleapis.com/css?family=Nunito');
 @import url('https://fonts.googleapis.com/css?family=Raleway');
 @import url('https://fonts.googleapis.com/css?family=Stylish');
 @import url('https://use.fontawesome.com/releases/v5.8.1/css/all.css');


 div.container
 {
 	width:100vw;
 	height:100vh;
	display:flex;
	align-items: center;
 	justify-content: center;
 	background:url('../../assets/PasswordReset/naturalblack.png');
 }

  div.main
 {
 	position:relative;
 	top:-2vh;
 	width:400px;
 	min-height:300px;
 	border:1px solid rgba(0,0,0,0.06);
 	display:flex;
 	flex-flow: column;
 	padding:20px;
 	box-sizing:border-box;
 	background:#fff;
 	border-radius:5px;
 }


 div.main p
 {
 	position:relative;
 	top:10px;
 	margin:0;
 	font-family:'Nunito',sans-serif;
 	line-height: 1.5;
 	color:rgba(0,0,0,0.6);
 }

 div.main h2
 {
 	margin:0;
 	font-family: 'Raleway', sans-serif;
 }

form
{
 	position:relative;
 	top:25px;
}

i.toggle
{
	position:absolute;
	top:15%;
	left:92%;
	cursor:pointer;
}

input
{
	width:100%;
}

input[type="password"], input[type="text"]
 {
 	height:35px;
 	padding:5px 10px;
 	box-sizing:border-box;
 	border:none;
 	background:rgba(0,0,0,0.06);
 	font-family:'Quicksand', sans-serif;
 }

 button
 {
 	position:relative;
 	top:13px;
 	width:100%;
 	height:35px;
 	padding:5px;
 	box-sizing: border-box;
 	border:none;
	background:#50C878;
	font-family:'Raleway', sans-serif;
	border-radius:3px;
 	color:#fff;
 	cursor:pointer;
 }

 div.links
 {
 	position:relative;
 	top:55px;
 	display:flex;
 	flex-flow:column;
 }

 div.links a
 {
 	text-decoration: none;
 	font-family:'Stylish',sans-serif;
 	color:rgba(0,0,0,0.75);
 	font-size:1.15em;
 	margin-bottom:7px;
 }

 div.loader
{
	position:relative;
	left:calc((100% - 10px)/2);
	width:10px;
	height:10px;
	border:2px solid #fff;
	border-right-color:transparent;
	border-radius:50%;
	animation:animate 1s both infinite linear;
}

@keyframes animate
{
	from
	{
		transform:rotate(0deg);
	}	
	to
	{
		transform:rotate(360deg);
	}
}

@media(max-width:430px)
{
	div.main
	{
		width:95vw;
	}
}
