@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC');
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Hind+Siliguri');
@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import url(https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);


div.container
{
	width:100%;
	min-height:100vh;
	border:1px solid #fff;
	box-sizing:border-box;
	transition:background 0.5s ease-out;
}

div.container.hidden
{
	overflow: hidden;
	height:100vh;
}

div.main
{
	min-height:calc(100vh - 51px);
	width:100%;
	padding:20px 6vw;
	display:flex;
}

div.main.sidebar-visible
{
	background:rgba(0,0,0,0.65);
}

div.content
{
	width:55%;
	margin-right:50px;	
}

div.content img
{
	width:100%;
	height:400px;
	object-fit: cover;
	border-radius:3px;
}

div.content i
{
	color:gold;
	margin:0 3px 0 10px;
}

div.content p
{
	margin:0;
	font-family:'Quicksand', sans-serif;
}

div.content a
{
	text-decoration:none;
	font-size:0.95em;
	color:rgba(0,0,0,0.75);
}

div.content p.title
{
	position:relative;
	width:100%;
	font-family:'Noto Sans TC', sans-serif;
	font-size:1.3em;
	margin:7px 0 5px 0;
}

button
{
	cursor:pointer;
}

p.title span.name
{
	/*width*/
}


p.title button
{
	position:absolute;
	left:calc(100% - 150px);
	border-radius: 4px;
	padding:5px 6px 5px 7px;
	background:#50C878;
	color:#fff;
	font-size:0.7em;
	font-family:'Quicksand', sans-serif;
	border:none;
	outline:none;
	cursor:pointer;
}

div.loader
{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	display:flex;
	border-radius: 4px;
	align-items: center;
	background:#50C878;
	border:none;
	justify-content: center;
}

div.loader div
{
	width:10px;
	height:10px;
	border:2px solid #fff;
	border-right-color:transparent;
	border-radius:50%;
	animation:animate 1s both infinite linear;
}

@keyframes animate
{
	from
	{
		transform:rotate(0deg);
	}	
	to
	{
		transform:rotate(360deg);
	}
}

p.title i.fa-check
{
	color:#fff;
	margin:0 3px 0 0;
}

p.title span.ended
{
	position:absolute;
	top:3px;
	left:calc(100% - 150px);
	padding:5px;
	border-radius: 7px;
	background:#50C878;
	font-family:'Quicksand', sans-serif;
	color:#fff;
	font-size:0.7em;
}

p.date
{
	margin-bottom:7px !important;
	color:rgba(0,0,0,0.75);
	font-size:0.97em;
}

p.overview
{
	margin-top:7px !important;
	color:rgba(0,0,0,0.75);
	font-size:0.92em;
}

div.sidebar 	
{
	display:flex;
	flex-flow:column;
}

div.next_episode
{
	position:relative;
	top:10px;
	width:300px;
	display:flex;
	flex-flow: column;
	/*align-items: center;*/
	padding-bottom:26px;
	border-bottom:1px solid rgba(0,0,0,0.1);
}

div.next_episode.infoUnavailable
{
	padding-bottom:0;		
}


div.next_episode span:nth-child(1)
{
	font-family:'Hind Siliguri', sans-serif;
	font-size:1.4em;
	color:rgba(0,0,0,0.8);
	margin-bottom:5px;
}

div.next_episode span.countdown
{
	font-family:'Raleway', sans-serif;
	font-size:1.3em;
	color:rgba(0,0,0,0.6);
}

div.next_episode button
{
	position:relative;
	top:10px;
	background:none;
	padding:6px;
	width:150px;
	box-sizing:border-box;
	outline:none;
	border:1px solid rgba(0,0,0,0.25);
	color:rgba(0,0,0,0.8);
	font-family:'Quicksand', sans-serif;
	border-radius: 5px;
}

div.next_episode p
{
	font-family:'Hind Siliguri', sans-serif;
	color:rgba(0,0,0,0.8);
	font-size:1.3em;
	line-height:1.2;
}

p.featuring
{
	position:relative;
	top:30px;
	color:rgba(0,0,0,0.7);
	font-size:1.25em;
	font-family:'Noto Sans TC', sans-serif !important;
}

div.cast
{	
	position:relative;
	top:35px;
	border-top:1px solid rgba(0,0,0,0.1);
	padding-top:15px;
	display: flex;
 	flex-wrap:wrap;
}

div.similarShows
{
	padding-top:7px;
}

div.similarShows p
{
	font-family:'Hind Siliguri', sans-serif !important;
	color:rgba(0,0,0,0.7);
	font-size:1.2em;
}


img.back
{
	position:fixed;
	top:88vH;
	left:85vw;
	cursor:pointer;
}


@media(max-width:991px)
{
	div.main
	{
		padding:20px 3vw 0 4.5vw;
	}

	div.next_episode
	{
		width:220px;
		padding-right:20px;
	}
}


@media(max-width:768px)
{
	div.main
	{
		padding:20px 2vw;
		flex-flow:column;
		box-sizing: border-box;
	}	

	div.content
	{
		width:100%;
		margin:0;
	}

	div.content p
	{
		padding-left:5px;
	}

	p.title button
	{
		top:3px;
		left:79%;
	}

	p.title span.ended
	{
		left:83.5%;
	}

	div.countdown
	{
		position:relative;
		top:5px;
		padding-left:5px;
		color:rgba(0,0,0,0.7);
		font-family:'Quicksand';
		font-size:0.9em;
	}

	div.countdown button
	{
		position:relative;
		top:-2px;
		left:12px;
		padding:6px;
		box-sizing:border-box;
		background:#fff;
		border:1px solid rgba(0,0,0,0.25);
		color:rgba(0,0,0,0.8);
		font-family:'Quicksand', sans-serif;
		border-radius: 5px;
	}

	div.sidebar
	{
		position:relative;
		top:30px;
		display:flex;
		flex-flow: column;
		align-items: center;
	}

	p.featuring
	{
		left:5px;
		font-size:1.3em;
		text-align: center;
	}

	div.cast
	{
		border:none;
		box-sizing: border-box;
	}

	div.similarShows
	{
		box-sizing: border-box;
		position:relative;
		display:flex;
		flex-wrap:wrap;
	}

	div.similarShows p
	{
		color:rgba(0,0,0,0.5);
		font-size:1.1em;
		font-family:'Noto Sans TC', sans-serif !important;
		width:100%;
		padding:0 0 5px 5px;
		padding-left:0;
		text-align: center;
	}
}

@media(max-width:600px)
{
	div.similarShows
	{
		padding-left:20px;
		justify-content: center;
	}

	div.cast
	{
		padding-left:20px;
		justify-content: center;
	}
}


@media(max-width:500px)
{
	div.content img
	{
		height:43vh;
	}

	div.content p.title
	{
		width:80%;
	}

	p.title button, p.title span.ended
	{
		top:2px;
		left:90%;
	}

	p.title button div
	{
		display:flex;
	}

	p.title i.fa-check
	{
		margin-top:3px;
	}
}

@media(max-width:455px)
{
	div.content p.title
	{
		width:70%;
	}

	p.title button, p.title span.ended
	{
		top:2px;
		left:102%;
	}
}


@media(max-width:390px)
{	
	div.content p.title
	{
		width:65%;
	}

	p.title button
	{
		top:1px;
		left:105%;
	}

	 p.title span.ended
	 {
	 	left:120%;
	 }
}
