
div.loggedin-container
{
	width:100vw;
	min-height:100vh;
	border:1px solid #fff;
	box-sizing:border-box;
	overflow:hidden;
	padding:0 6vw 0 6vw;
	transition:background 0.5s ease-out;
}

div.loggedin-container.active
{
	background:rgba(0,0,0,0.25);
}

div.loggedin-container.hidden
{
	overflow: hidden;
	height:100vh;
}


div.loggedin-main
{
	padding-top:3vh;
	display: flex;	
	min-height:87vh;
	transition:background 0.5s ease-out;
}

div.loggedin-main.sidebar-visible
{
	background:rgba(0,0,0,0.65);
}

@media(max-width:768px)
{
	div.loggedin-container
	{
		padding:0
	}

	div.loggedin-main.sticky-header
	{
		margin-top:68px;
	}
}
